#departments {
	position: relative;
	background-color: $light-blue;
	z-index: 1;    
	padding-top: 6em;
	.departments {
		margin-top: 5%;
	}
	.card-dept {
		padding: 0;
		background-color: $light;
		width: 20%;
		margin: 0 5px;
		.card-img {
			height: 200px;
		}
		.img1 {
			background-image: url('../img/samples/dep1.jpg');
			@include bg;
		}
		.img2 {
			background-image: url('../img/samples/dep2.jpg');
			@include bg;
		}
		.img3 {
			background-image: url('../img/samples/dep3.jpg');
			@include bg;
		}
		.card-cont {
			// text-align: center;
			padding: 10px;
			h5 {
				font-weight: 800;
			}
			.button-more {
				font-size: 10px;
				background-color: $light-blue;
				border-radius: 0;
				border: none;
				color: #fff;
				text-transform: uppercase;
				font-family: 'Raleway', sans-serif;
				font-weight: 800;
				&:hover {
					background-color: $blue;
					@include fade-in;
					@include up-shadow;
					transform: translate(0,-5px);
				}
			}
		}
	}
	.dept-cont {
		h3 {
			margin-top: -1%;
			font-weight: 900;
			color: $light;
		}
		p {
			margin-top: 5%;
			color: $light;
			text-align: justify;
			font-size: 12px;
		}
		.btn-default {
			background-color: #fff;
			border-radius: 0;
			border: none;
			margin: 3% 0;
			width: 100%;
			.btn-ico {
				color: $light-blue;
				padding: 10px;
			}
			.btn-text {
				color: $light-blue;
				padding: 10px;
				text-transform: uppercase;
				font-family: 'Raleway', sans-serif;
				font-size: 12px;
				font-weight: 800;
			}
			&:hover {
				background-color: #DBDBDB;
				@include fade-in;
				@include up-shadow;
				transform: translate(0,-5px);
			}
		}
	}
	&:after {
		display: block;
		position: absolute;
		content: '';
		width: 100px;
		height: 100px;
		bottom: -50px;
		left: 50%;
		margin-left: -50px;
		background-color: $light-blue; /** Change This Value ***/
		-ms-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
		z-index: 1;
	}
}