// $nav-color: #282828;
$red: #d93939;
$redDk: #b80c0c;
$blue: #0277bd;
$dark-blue: #01579b;
$light-blue: #039be5;
$sec-blue: #00bcd4;
$dark-sec-blue: #0097a7;

$dark: #212121;
$gray: #616161;
$light: #f2f2f2;

// $fbColor: #3b5998;
// $itColor: ;
// $twColor: #00aced;

$desktop-width: 1200px;
$desktop-lg-width: 2559px;
$mobile-width: 600px;
$mobile-xs-width: 357px;
$nav-height: 70px;

$font: 'Raleway', sans-serif;